@use "./variables.scss" as *;
@use "./font" as *;

@mixin mobile {
  @media screen and (min-width: $mobile-width) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin flexbox($direction: row) {
  display: flex;
  flex-direction: $direction;
}

@mixin fonts($weight: normal) {
  font-family: "AvenirNext LT Pro";
  font-weight: $weight;
}
