@use "partials/variables" as *;
@use "partials/mixins" as *;
@use "partials/font" as *;
@use "./partials/global.scss" as *;

.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  height: 55vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @include desktop {
    height: 60vh;
  }

  &__overlay {
    background-color: #32323280;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__wrapper {
    display: flex;
    width: 100%;
    @extend .wrapper;
  }
}

.about {
  &__wrapper {
    margin: 0 1rem;
    @include tablet {
      margin: 0 2.25rem;
    }
    @include desktop {
      max-width: 64rem;
      margin: 0 auto;
    }
  }
  &__container {
    @include tablet {
      padding: 0 3rem;
    }
  }
  .quote {
    color: #323232;
    &__by {
      font-size: 1rem;
      font-weight: 600;
    }
  }
  &__img-container {
    background-image: url(../assets/images/band.jpg);
    height: 50vw;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    @extend .padding-bottom;
    @include tablet {
      height: 40vw;
    }
    @include desktop {
      height: 30vw;
    }
  }
  &__quote {
    padding: 1rem 0;
  }
}
.description {
  &__wrapper {
    margin: 0 1rem;
    @include tablet {
      padding: 0 3rem;
    }

    @include desktop {
      max-width: 64rem;
      margin: 0 auto;
    }
  }
  &__container {
    @include tablet {
      display: flex;
      gap: 16px;
    }
  }
  * {
    @extend .padding-bottom;
  }
}
.gallery {
  background-color: #fafafa;
  &__wrapper {
    margin: 0 1rem;
    @include tablet {
      margin: 0 2.25rem;
    }
    @include desktop {
      max-width: 64rem;
      margin: 0 auto;
    }
  }
  &__img-container {
    @include flexbox(column);
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    @include desktop {
    }
    .img {
      @extend .padding-bottom;
      @include tablet {
        width: 32%;
      }
    }
  }
}
.comments {
  &__section {
    margin: 0 1rem;
    @include tablet {
      margin: 0 2.25rem;
    }
    @include desktop {
      max-width: 64rem;
      margin: 0 auto;
    }

    @extend .padding-bottom;
  }
  &__container {
    .form {
      @include flexbox();
      justify-content: center;
      @extend .padding-bottom;
      gap: 20px;
      &__img {
        border-radius: 50%;
        height: 2.25rem;
        width: 2.25rem;
        object-fit: cover;
        object-position: left;
        margin-top: 20px;
        @include tablet {
          height: 3rem;
          width: 3rem;
        }
      }
      &__fields {
        @include flexbox(column);
      }
      &__label {
        padding-bottom: 4px;
        color: #afafaf;
      }
      &__input {
        height: 2.25rem;
        border-radius: 4px;
        padding: 0.75rem;
        border: 1px solid #e1e1e1;
        margin-bottom: 1rem;
        width: 75vw;
        @include tablet {
          height: 3rem;
          padding: 1rem;
          width: 60vw;
          max-width: 31.25rem;
        }
        &:focus {
          outline: none;
          border-color: #323232;
        }
        &--error {
          &:focus {
            border-color: #d22d2d;
          }
        }
        &--textarea {
          resize: none;
          height: auto;
          @include fonts();
        }
      }
    }
  }
  &__display {
    display: flex;
    justify-content: center;
    // padding: 1rem;
  }
  &__list {
    @include flexbox(column);
    justify-content: center;
    width: 100%;
    margin-right: 3rem;

    .item {
      @include flexbox();
      justify-content: center;
      gap: 1.25rem;
      padding: 1rem 0;
      border-bottom: 1px solid #e1e1e1;
      margin: auto;
      &__img {
        // background-image: url("../assets/images/Default_pfp.svg.png");
        background-color: #e1e1e1;
        border-radius: 50%;
        height: 2.25rem;
        width: 2.25rem;
        object-fit: cover;
        object-position: left;
        @include tablet {
          height: 3rem;
          width: 3rem;
        }
      }
      &__section {
        justify-content: center;
        width: 75vw;
        @include tablet {
          width: 60vw;
          max-width: 31.25rem;
        }
      }
      &__title {
        display: flex;
        justify-content: space-between;
      }
      &__name {
        font-weight: 600;
      }
      &__date {
        color: #afafaf;
      }
      &__footer {
        display: flex;
        justify-content: space-between;
        margin-top: 0.5rem;
      }
      &__actions {
        text-decoration: none;
        display: flex;
        align-items: flex-start;
        gap: 0.3125rem;
        color: #323232;
        background-color: white;
        // border: none;
        margin: 0;
      }
    }
  }
}
