@use "./partials/font" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/global.scss" as *;

.hero {
  background-image: url(../assets/images/hero-shows.jpg);
  // min-height: 55vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @include tablet {
    min-height: 31.25rem;
    height: 45vh;
  }
  @include desktop {
    height: 50vh;
    background-position: 50% 25%;
  }

  &__overlay {
    background-color: #32323280;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__container {
    @include flexbox(column);
    width: 100%;
    padding: 2rem 0;
    margin: 0 1rem;
    @include tablet {
      margin: 0 2.25rem;
    }
    @include desktop {
      max-width: 64rem;
      margin: 0 auto;
    }

    @include desktop {
      @include flexbox();
      justify-content: space-between;
    }
  }
  &__header {
    color: #ffffff;
    max-width: 15rem;
    .padding-bottom {
      padding-bottom: 1rem;
    }
    @include tablet {
      max-width: 31.25rem;
    }
  }
  &__soundcloud {
    width: 100%;
    @include tablet {
      max-width: 28.125rem;
    }

    @include desktop {
      align-self: center;
    }
  }
}
.shows {
  &__container {
    @extend .wrapper;
    @include desktop {
      display: flex;
      justify-content: space-between;
      gap: 5rem;
    }
  }
  &__header {
    padding-left: 1rem;
    @include tablet {
      padding-left: 0;
    }
  }
  &__schedule {
    @include desktop {
      padding-top: 2.7rem;
      width: 100%;
    }
  }
  .table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    vertical-align: center;

    &__header {
      .table__row {
        display: none;
        @include tablet {
          @include flexbox();
        }
        .cell {
          flex: 1;
          .table-padding {
            padding: 1rem;
            @include tablet {
              padding: 1.5rem 1.125rem;
            }
          }
        }
      }
    }
    &__body {
      .table__row {
        display: block;
        border-bottom: 1px solid #e1e1e1;
        margin-bottom: 1rem;
        @include tablet {
          display: flex;
          align-items: center;
        }
        &:hover {
          background-color: #fafafa;
        }
        &--selected {
          @include tablet {
            background-color: #e1e1e1;
            &:hover {
              background-color: #e1e1e1;
            }
          }
        }
        .cell {
          padding: 1rem;
          display: block;
          width: 100%;
          @include tablet {
            flex: 1;
            padding: 1.5rem 1.125rem;
            display: table-cell;
            width: auto;
          }
          &:before {
            @extend .label-btn;
            content: attr(data-label);
            display: block;
            @include tablet {
              display: none;
            }
          }
          .btn {
            width: 100%;
            min-width: 10rem;
            @include tablet {
              width: 10.3125rem;
            }
          }
        }
      }
      .table__date {
        font-weight: 600;
      }
    }
  }
}
