@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
}

.wrapper, .shows__container, .footer__container {
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .wrapper, .shows__container, .footer__container {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1200px) {
  .wrapper, .shows__container, .footer__container {
    max-width: 64rem;
    margin: 0 auto;
  }
}

.padding-bottom {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .padding-bottom {
    padding-bottom: 1.5rem;
  }
}

body {
  font-family: "AvenirNext LT Pro";
}

hr {
  border-top: 5px solid #323232;
}

h1 {
  font-family: "AvenirNext LT Pro";
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #ffffff;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  font-family: "AvenirNext LT Pro";
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}

h3 {
  font-family: "AvenirNext LT Pro";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.footer-copy {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .footer-copy {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.label-btn, .shows .table__body .table__row .cell:before, .btn {
  font-family: "AvenirNext LT Pro";
  font-weight: 600;
  text-transform: uppercase;
  color: #e1e1e1;
  font-size: 0.625rem;
  line-height: 1.25rem;
}
@media (min-width: 768px) {
  .label-btn, .shows .table__body .table__row .cell:before, .btn {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

.nav {
  background-color: #323232;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .nav {
    padding-top: 1.5rem;
  }
}
.nav__container {
  margin: 0;
}
@media (min-width: 768px) {
  .nav__container {
    display: flex;
    margin: 0 2.25rem;
  }
}
@media (min-width: 1200px) {
  .nav__container {
    max-width: 64rem;
    margin: 0 auto;
  }
}
.nav__logo {
  text-align: center;
}
.nav__logo-img {
  width: 8.75rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .nav__logo-img {
    margin-right: 3rem;
  }
}
.nav__menu {
  width: 100%;
}
.nav__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .nav__list {
    gap: 3rem;
  }
}
.nav__item {
  width: 50%;
  transition: border-bottom 0.3s;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .nav__item {
    width: auto;
    margin-bottom: -5px;
  }
}
.nav__item--active {
  border-bottom: 3px #ffffff solid;
  font-weight: 600;
}
.nav__item:hover {
  border-bottom: 3px #e1e1e1 solid;
}
.nav__link {
  font-size: 1rem;
  text-decoration: none;
  color: #e1e1e1;
}
.nav__link--active {
  color: #ffffff;
}
.nav__link:hover {
  color: #ffffff;
}

.footer {
  background-color: #323232;
  color: #ffffff;
}
.footer__title {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__title {
    flex-direction: row;
    align-items: baseline;
  }
}
.footer__title .logo {
  display: none;
}
@media (min-width: 768px) {
  .footer__title .logo {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
}
.footer__img-container {
  display: flex;
  flex-direction: row;
  width: 10rem;
  justify-content: space-between;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__img-container {
    width: 25%;
    justify-content: center;
    gap: 2rem;
  }
}
.footer__information {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__information {
    width: 100%;
    flex-direction: row;
    gap: 4rem;
  }
}
.footer__information .container__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__information .container__item {
    padding-bottom: 1.5rem;
  }
}
.footer__information .container__item--bold {
  font-weight: 600;
}
.footer__logo {
  width: 8.75rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__logo {
    display: none;
  }
}
.footer__copyright {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__copyright {
    padding-bottom: 1.5rem;
  }
}

.btn {
  font-size: 1rem;
  height: 2.5rem;
  min-width: 150px;
  border-radius: 4px;
  padding: 0 2rem;
  background-color: #323232;
  color: #ffffff;
  border: 0;
}
.btn:hover {
  background-color: #000000;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
@media (min-width: 768px) {
  .btn {
    width: 150px;
    align-self: flex-end;
  }
}

.hero {
  background-image: url(../assets/images/hero-shows.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .hero {
    min-height: 31.25rem;
    height: 45vh;
  }
}
@media (min-width: 1200px) {
  .hero {
    height: 50vh;
    background-position: 50% 25%;
  }
}
.hero__overlay {
  background-color: rgba(50, 50, 50, 0.5019607843);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.hero__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem 0;
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .hero__container {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1200px) {
  .hero__container {
    max-width: 64rem;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .hero__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.hero__header {
  color: #ffffff;
  max-width: 15rem;
}
.hero__header .padding-bottom {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .hero__header {
    max-width: 31.25rem;
  }
}
.hero__soundcloud {
  width: 100%;
}
@media (min-width: 768px) {
  .hero__soundcloud {
    max-width: 28.125rem;
  }
}
@media (min-width: 1200px) {
  .hero__soundcloud {
    align-self: center;
  }
}

@media (min-width: 1200px) {
  .shows__container {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
  }
}
.shows__header {
  padding-left: 1rem;
}
@media (min-width: 768px) {
  .shows__header {
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .shows__schedule {
    padding-top: 2.7rem;
    width: 100%;
  }
}
.shows .table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  vertical-align: center;
}
.shows .table__header .table__row {
  display: none;
}
@media (min-width: 768px) {
  .shows .table__header .table__row {
    display: flex;
    flex-direction: row;
  }
}
.shows .table__header .table__row .cell {
  flex: 1;
}
.shows .table__header .table__row .cell .table-padding {
  padding: 1rem;
}
@media (min-width: 768px) {
  .shows .table__header .table__row .cell .table-padding {
    padding: 1.5rem 1.125rem;
  }
}
.shows .table__body .table__row {
  display: block;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .shows .table__body .table__row {
    display: flex;
    align-items: center;
  }
}
.shows .table__body .table__row:hover {
  background-color: #fafafa;
}
@media (min-width: 768px) {
  .shows .table__body .table__row--selected {
    background-color: #e1e1e1;
  }
  .shows .table__body .table__row--selected:hover {
    background-color: #e1e1e1;
  }
}
.shows .table__body .table__row .cell {
  padding: 1rem;
  display: block;
  width: 100%;
}
@media (min-width: 768px) {
  .shows .table__body .table__row .cell {
    flex: 1;
    padding: 1.5rem 1.125rem;
    display: table-cell;
    width: auto;
  }
}
.shows .table__body .table__row .cell:before {
  content: attr(data-label);
  display: block;
}
@media (min-width: 768px) {
  .shows .table__body .table__row .cell:before {
    display: none;
  }
}
.shows .table__body .table__row .cell .btn {
  width: 100%;
  min-width: 10rem;
}
@media (min-width: 768px) {
  .shows .table__body .table__row .cell .btn {
    width: 10.3125rem;
  }
}
.shows .table__body .table__date {
  font-weight: 600;
}/*# sourceMappingURL=shows.css.map */